# ~/.dartrix
alias {{pfx}}list="pub global run dartrix:list $@"
alias {{pfx}}man="pub global run dartrix:man $@"
alias {{pfx}}new="pub global run dartrix:new $@"
alias {{pfx}}sanity="pub global run dartrix:sanity $@"
alias {{pfx}}update="pub global run dartrix:update $@"
