name: {{package.dart}}
description: {{description.demo}}
homepage: {{homepage}}
version: {{version.package}}

#dependencies:
#  path: {{version.path}}

dev_dependencies:
  pedantic: {{version.pedantic}}
  test: {{version.test}}

environment:
  sdk: {{version.sdk}}

