import 'package:{{package}}/{{package}}_liba.dart';

// An example demonstrating use of the {{package}} API.  See also bin/{{package}}.dart.

void main(List<String> args) {
  print("I don't do much.");
}
