// I am a library file in package:{{package.dart}}.  Import me like so:
// 'import package:{{package.dart}}/{{package.dart}}_libb.dart';

export 'src/{{package.dart}}_implc.dart';
export 'src/{{package.dart}}_impld.dart';
