// I am a library file in package:{{package.dart}}.  Import me like so:
// 'import package:{{package.dart}}/{{package.dart}}_liba.dart';

export 'src/{{package.dart}}_impla.dart';
export 'src/{{package.dart}}_implb.dart';
