import 'package:{{package}}/src/config.dart';

void f(String msg) {
  print('$msg from src/foo/impl.dart:f()');
  logger.i('pass -v or --verbose or --debug for more info');
  if (Config.verbose) {
    logger.v('verbose msg from src/foo/impl.dart f()');
  }
  if (Config.debug) {
    debugLogger.d('debug msg from src/foo/impl.dart f()');
  }
}
