# ~/.dartrix
alias {{prefix}}list="pub global run{{#enable-asserts}} --enable-asserts{{/enable-asserts}} dartrix:list $@"
alias {{prefix}}man="pub global run{{#enable-asserts}} --enable-asserts{{/enable-asserts}} dartrix:man $@"
alias {{prefix}}new="pub global run{{#enable-asserts}} --enable-asserts{{/enable-asserts}} dartrix:new $@"
alias {{prefix}}sanity="pub global{{#enable-asserts}} --enable-asserts{{/enable-asserts}} run dartrix:sanity $@"
alias {{prefix}}update="pub global{{#enable-asserts}} --enable-asserts{{/enable-asserts}} run dartrix:update $@"
